@import "../../tools/functions/rem";

/// Line Height config
///
$line-heights: (
  tiny:   11px,
  xsmall: 12px,
  small:  16px,
  base:   18px,
  medium: 20px,
  large:  22px,
) !default;

/// Line height mixin
///
/// In some occasions we need to use this mixin because of placeholder positions.
///
/// If we extend a "large" after a "base" one, it will not work.
/// This happens because the "base" placeholder was created before the "large" one
///   and will be override by the latter.
///
/// This will create another line of code and overrides the previous rule.
///
@mixin line-height($size) {
  line-height: rem(map-get($line-heights, $size));
}

/// Iterate trough all $line-height values and create the line-height tokens
///
/// @require {function} rem <../../tools/rem.scss>
/// @require {map}      $line-heights
/// @output  line-height attribute in rem
///
@each $name, $height in $line-heights {
  %line-height--#{$name} {
    @include line-height($name);
  }
}
