@import "../../styles/colors/palettes";
@import "../../styles/tokens/-tokens";

.titled-content {
  dt {
    @extend %heading--xsmall;

    display: flex;
    justify-content: center;
    align-items: center;

    color: palette(text, 05);
    text-transform: uppercase;
    text-align: center;

    &:before,
    &:after {
      flex: 1 1 0;
      display: block;
      height: 1px;
      background-color: palette(text, 05);
      content: "";
    }

    &:before {
      margin-right: space(small);
    }

    &:after {
      margin-left: space(small);
    }
  }

  dd {
    margin-top: space(xsmall);
  }
}
