@import "../../styles/colors/palettes";
@import "../../styles/tokens/-tokens";

.titled-content {
  &__title {
    @extend %heading--xsmall;

    display: flex;
    justify-content: center;
    align-items: center;

    text-transform: uppercase;
    text-align: center;

    &:before,
    &:after {
      flex: 1 1 0;
      display: block;
      min-width: space(small);
      height: 1px;
      content: "";
    }

    &:before {
      margin-right: space(small);
    }

    &:after {
      margin-left: space(small);
    }

    &--light {
      color: palette(text, 05);

      &:before,
      &:after {
        background-color: palette(text, 05);
      }
    }

    &--dark {
      color: palette(text, 06);

      &:before,
      &:after {
        background-color: palette(text, 06);
      }
    }
  }

  &__content {
    margin-top: space(xsmall);
  }
}
