<ui-floating-centered-content>
  <div class="reset-password__logo">
    <img src="../../../assets/imgs/logo.svg" alt="" width="200">
  </div>

  <ui-titled-content title="Solicitar nova senha">
    <ul class="reset-password__fields">
      <li>
        <ui-text-field
          title="E-mail"
          [fieldId]="emailFieldId"
          (onValueChange)="email = $event"
        ></ui-text-field>
      </li>

      <li>
        <ui-button
          type="contained"
          [block]="true"
          (click)="resetPassword()"
        >Resetar senha</ui-button>
      </li>

      <li *ngIf="!!message">
        <ui-message [message]="message"></ui-message>
      </li>
    </ul>
  </ui-titled-content>

  <div class="reset-password__create">
    <ui-link
      routerLink="/register"
      [strong]="true"
    >Não tem uma conta? Crie uma agora!</ui-link>
  </div>
</ui-floating-centered-content>
