@import "../../../ui/styles/tokens/spacing";

.reset-password {
  &__logo {
    margin-bottom: space(base);
    position: relative;
    z-index: 0;

    img {
      margin: 0 auto;
    }
  }

  &__fields {
    > li {
      + li  {
        margin-top: space(xsmall);
      }
    }
  }

  &__create {
    margin-top: space(large);
    text-align: center;
  }
}
