@import "../tools/functions/map-get-plus";
@import "../tools/functions/hsla-color";

/// Base colors
/// Design colors to use throughout the project
/// It must be only imported on './palettes.scss' file

/// Base colors
///
/// Ionic has a default $color variable, so we need to create another variable
/// or it will try to find the color on the default variable.
///
$base-colors: (
  beige: #FAEBCC,
  black: (
    base:  #444,
    light: #999,
    pure : #000,
  ),
  blue: (
    base:  #31708F,
    light: #BCE8F1,
    pale:  #D9EDF7,
  ),
  brands: (
    facebook: #3B5998,
    gmail:    #FF4343,
  ),
  brown: #8A6D3B,
  green: (
    base:  #3C763D,
    light: #D6E9C6,
    pale:  #DFF0D8,
  ),
  grey: (
    base:  #EFEFEF,
    dark:  #878787,
    light: #CBCBCB,
  ),
  ice:    #CFE4FF,
  pink:  (
    light: #F2DEDE,
    pale:  #EBCCD1,
  ),
  red: (
    pale: #A94442,
  ),
  white:  #FFFFFF,
  yellow: #FCF8E3,
) !default;

/// Get color from $base-color map
///
@function color($color...) {
  @return map-get-plus($base-colors, $color...);
}

/// Brand colors
///
$brand-colors: (
  01: hsla-color(color(blue, base)),
) !default;

/// Get color from $brand-colors map
///
@function brand-color($color) {
  @return map-get($brand-colors, $color);
}

/// Support colors
///
$support-colors: (
  01: hsla-color(color(grey, base)),
  02: hsla-color(color(black, base)),
  03: hsla-color(color(black, light)),
  04: hsla-color(color(black, pure)),
  05: hsla-color(color(ice)),
  06: hsla-color(color(white)),
  07: hsla-color(color(grey, dark)),
  08: hsla-color(color(grey, light)),

) !default;

/// Get color from $support-colors map
///
@function support-color($color) {
  @return map-get($support-colors, $color);
}

/// Additional colors
///
$additional-colors: (
  01: hsla-color(color(green, base)),
  02: hsla-color(color(green, light)),
  03: hsla-color(color(green, pale)),
  04: hsla-color(color(blue, base)),
  05: hsla-color(color(blue, light)),
  06: hsla-color(color(blue, pale)),
  07: hsla-color(color(brown)),
  08: hsla-color(color(beige)),
  09: hsla-color(color(yellow)),
  10: hsla-color(color(red, pale)),
  11: hsla-color(color(pink, light)),
  12: hsla-color(color(pink, pale)),
) !default;

/// Get color from $additional-colors map
///
@function additional-color($color) {
  @return map-get($additional-colors, $color);
}

/// Social colors
///
$social-colors: (
  facebook: hsla-color(color(brands, facebook)),
  gmail: hsla-color(color(brands, gmail)),
) !default;

/// Get color from $additional-colors map
///
@function social-color($color) {
  @return map-get($social-colors, $color);
}
