<div class="groups">
  <div class="groups_column">
    <div class="group" *ngFor="let group of groups">
      <ui-titled-content color="dark" title="{{ group.title }}">
        <ul>
          <li class="group__item" *ngFor="let task of group.tasks">
            <input
              class="group__checkbox"
              id="checkbox-{{ group.title }}-{{ task.description }}"
              type="checkbox"
              [checked]="task.checked"
              (change)="checkboxChange($event, group, task)"
            >

            <label
              class="item__description"
              for="checkbox-{{ group.title }}-{{ task.description }}"
            >{{ task.description }}</label>
          </li>
        </ul>

        <div class="group__buttons">
          <ul>
            <li class="group__button">
              <ui-button
                size="slim"
                type="contained"
                [block]="true"
                (click)="edit(group.title)"
              >Editar</ui-button>
            </li>

            <li class="group__button">
              <ui-button
                size="slim"
                type="outlined"
                [block]="true"
                (click)="delete(group)"
              >Excluir</ui-button>
            </li>
          </ul>
        </div>
      </ui-titled-content>
    </div>
  </div>
</div>
