@import "../../../ui/styles/tokens/-tokens";

.home {
  &__header {
    @extend %shadow--low;

    display: flex;
    align-items: center;
    padding: 0 space(base);
  }

  &__title {
    flex: 99;
  }

  &__button-list {
    display: flex;

    li {
      + li {
        margin-left: space(base);
      }
    }
  }
}
